<html>
<head>
    <title>Enter the Labyrinth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>
<body class="home">
    <div id="AppEl"></div>

    <!-- Root Template -->
    <script type="text/html" id="AppTemplate" class="hide">
        <nav id="Nav"></nav>
        <header id="Header" >
            <div id="TopBar">
                <div class="topBarContainer container">
                    <a class="logoLink" href="/">
                    <img id="Logo" src="/images/sitewideLogo.jpg">
                    </a>
                </div>
            </div>
            <div class="headerContainer container">
                <h2><%= title %></h2>
                <p id="PageDescEl" class="col-md-6 col-md-offset-3"><%= blurb %></p>
            </div>
        </header>
        <main id="Content" class="container">
            <!-- Checklist Page Link Panels Render Here -->
        </main>
    </script>

    <!-- Home Page Template-->
    <script type="text/html" id="ChecklistPageLinkPanel" class="hide">
        <div class="checklist_page_link_panel">
            <a href="/list/<%= slug %>">
                <h3 class="panel-title"><%= title %></h3>
            </a>
            <div class="panel-progress">
            <% _.each(items, function(item){ %>
                <div class="panelProgressBox<%= (item.completed ? ' isComplete' : '') %>"></div>
            <% }); %>
            </div>
        </div>
    </script>

    <script type="text/html" id="ChecklistPageContainer" class="hide"></script>
    <script type="text/html" id="ChecklistPageItems"></script>

    
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/underscore-min.js"></script>
    <script src="/scripts/backbone-min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>