body {
  background-color: white;
}

#Header {
  background-color: #999999;
  text-align: center;
  color: white;
}
#Header .headerContainer {
  padding: 18px 0;
}

#TopBar {
  background-color: #f0f0f0;
  padding: 12px 0;
}
#TopBar .logoLink {
  max-height: 36px;
  display: block;
  text-align: left;
}
#TopBar .logoLink img {
  height: 100%;
}

#Content {
  padding-top: 24px;
}

.home_page_callout {
  text-align: center;
  margin: 0 0 24px 0;
  padding: 0;
  display: block;
}

#home_page_panel_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#home_page_panel_list li {
  margin-bottom: 32px;
}

.panel_link {
  display: block;
  position: relative;
  border: 1px solid black;
}
.panel_link:hover {
  text-decoration: none;
}
.panel_link .checklist_page_link_panel {
  display: block;
  padding: 24px 0;
}
.panel_link .checklist_page_link_panel .panel_title {
  display: block;
  position: relative;
  text-align: center;
  font-size: 18px;
  color: black;
  margin: 0 0 18px 0;
  padding: 0;
  line-height: 1;
}
.panel_link .checklist_page_link_panel .panel_progress {
  display: block;
  text-align: center;
  line-height: 0;
}
.panel_link .checklist_page_link_panel .panel_progress .panel_progress_box {
  display: inline-block;
  line-height: 0;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.panel_link .checklist_page_link_panel .panel_progress .panel_progress_box.isComplete {
  border-color: #7cd322;
  background-color: #7cd322;
}

.checklistUL {
  margin: 0;
  padding: 0;
}

.conditional_item {
  display: block;
  position: relative;
  padding: 12px 0 12px 12px;
  margin: 6px 0 6px;
  border: 1px solid #999999;
  background-color: #f0f0f0;
  cursor: pointer;
}
.conditional_item .conditional_item_title {
  color: #999999;
  font-size: 21px;
  margin: 0;
  padding: 0;
  display: block;
}
.conditional_item.selected {
  background-color: #999999;
}
.conditional_item.selected .conditional_item_title {
  color: white;
}
.conditional_item:hover {
  text-decoration: none;
}

.section_complete_title {
  color: #7cd322;
  text-align: center;
}

.checklist_page_item {
  display: block;
  position: relative;
  margin-bottom: 18px;
}
.checklist_page_item .check_box_link {
  display: block;
  position: relative;
  color: black;
  padding-left: 30px;
}
.checklist_page_item .check_box_link .check_box_box {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0px;
  border: 2px solid #4a4a4a;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.checklist_page_item .check_box_link .task_title {
  display: inline;
}
.checklist_page_item .check_box_link:hover {
  text-decoration: none;
}
.checklist_page_item .check_box_link.ordered {
  padding-left: 0;
}
.checklist_page_item .check_box_link.ordered .check_box_box {
  height: 15px;
  width: 15px;
  left: 12px;
  top: 0px;
}
.checklist_page_item .check_box_link.ordered .task_title {
  display: block;
}
.checklist_page_item .check_box_link.ordered .ordered_check_number {
  display: inline-block;
  font-size: 36px;
  line-height: 1;
  background: grey;
  height: 42px;
  width: 42px;
  text-align: center;
  border-radius: 100%;
  padding-top: 3px;
  color: white;
}
.checklist_page_item .item_external_link {
  display: inline-block;
  margin-left: 30px;
}
.checklist_page_item.isComplete .check_box_box {
  border-color: #7cd322;
  background-color: #7cd322;
}
.checklist_page_item.isComplete .task_title,
.checklist_page_item.isComplete .item_external_link {
  color: #7cd322;
}
.checklist_page_item.ordered-check {
  padding: 12px 0;
  border: 1px solid #999999;
  text-align: center;
}
.checklist_page_item.ordered-check .item_external_link {
  margin-left: 0;
}
.checklist_page_item.isComplete.ordered-check {
  border-color: #7cd322;
}
.checklist_page_item.isComplete.ordered-check .ordered_check_number {
  background-color: #7cd322;
}
.checklist_page_item.delight .task_title,
.checklist_page_item.delight .item_external_link,
.checklist_page_item.delight .check_box_box {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  transition-timing-function: ease-out;
}
.checklist_page_item.delight .task_title,
.checklist_page_item.delight .item_external_link {
  color: #7cd322;
}
.checklist_page_item.delight .check_box_box {
  border-color: #7cd322;
  background-color: #7cd322;
}
.checklist_page_item.delight.isComplete .task_title {
  color: black;
}
.checklist_page_item.delight.isComplete .item_external_link {
  color: #337ab7;
}
.checklist_page_item.delight.isComplete .check_box_box {
  border-color: #4a4a4a;
  background-color: white;
}

.completed_items_title {
  color: white;
  background-color: #7cd322;
  padding: 8px 0 8px 8px;
}

#page_sidebar_section .sidebar_header {
  color: #999999;
}
#page_sidebar_section .sidebar_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page_sidebar_section .sidebar_list .sidebar_list_item {
  display: block;
}
#page_sidebar_section .sidebar_list .sidebar_list_item.title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 24px 0 0 0;
}
#page_sidebar_section .sidebar_list .sidebar_list_item.item {
  font-size: 12px;
  padding-left: 30px;
  margin: 6px 0;
}

/*# sourceMappingURL=styles.css.map */
