@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("./font-awesome.min.css");
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

#Header {
  background-color: #999999;
  text-align: center;
  color: white;
}
#Header .headerContainer {
  padding: 18px 0;
}
#Header .headerContainer h2 {
  font-size: 32px;
  font-weight: bold;
}
#Header .headerContainer .page_description {
  display: inline-block;
  max-width: 1000px;
  font-size: 24px;
}

#TopBar {
  background-color: #f0f0f0;
  padding: 16px 0;
}
#TopBar .logoLink {
  max-height: 30px;
  display: block;
  text-align: left;
}
@media (max-width: 426px) {
  #TopBar .logoLink {
    text-align: center;
  }
}
#TopBar .logoLink img {
  height: 100%;
}
#TopBar .profile_container {
  text-align: right;
  color: #444444;
  font-size: 18px;
  padding-top: 6px;
}
@media (max-width: 991px) {
  #TopBar .profile_container {
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 12px;
  }
}
#TopBar .profile_container .footer_container {
  display: none;
}
@media (max-width: 426px) {
  #TopBar .profile_container .footer_container {
    display: block;
  }
}
@media (max-width: 426px) {
  #TopBar .profile_container {
    display: none;
  }
}
#TopBar .profile_container p {
  margin-bottom: 0;
}
#TopBar .profile_container a {
  cursor: pointer;
  color: #3AACE9;
}

#Content {
  padding-top: 30px;
}

.home_page_callout {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
  display: block;
}

#home_page_panel_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#home_page_panel_list li {
  margin-bottom: 32px;
}

.panel_link {
  display: block;
  position: relative;
  border: 1px solid black;
}
.panel_link:hover {
  text-decoration: none;
}
.panel_link .checklist_page_link_panel {
  display: block;
  position: relative;
  padding-top: 67%;
}
@media (max-width: 991px) {
  .panel_link .checklist_page_link_panel {
    padding-top: 0%;
  }
}
.panel_link .checklist_page_link_panel .panel_title {
  display: block;
  position: absolute;
  margin: 0 12px;
  padding: 0;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 28px;
  color: black;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .panel_link .checklist_page_link_panel .panel_title {
    top: 33%;
  }
}
@media (max-width: 991px) {
  .panel_link .checklist_page_link_panel .panel_title {
    position: relative;
    margin: 24px 0;
  }
}
@media (max-width: 500px) {
  .panel_link .checklist_page_link_panel .panel_title {
    font-size: 21px;
  }
}
.panel_link .checklist_page_link_panel .panel_progress {
  display: block;
  position: absolute;
  bottom: 21%;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0;
}
@media (max-width: 991px) {
  .panel_link .checklist_page_link_panel .panel_progress {
    position: relative;
    margin-bottom: 24px;
  }
}
.panel_link .checklist_page_link_panel .panel_progress .panel_progress_box {
  display: inline-block;
  line-height: 0;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.panel_link .checklist_page_link_panel .panel_progress .panel_progress_box.isComplete {
  border-color: #7cd322;
  background-color: #7cd322;
}

.checklist_title {
  color: #444444;
  font-size: 24px;
  margin: 0 0 24px 0;
}

.checklistUL {
  margin: 0;
  padding: 0;
}

.conditional_item {
  display: block;
  position: relative;
  padding: 12px 0 12px 12px;
  margin: 6px 0 6px;
  border: 1px solid #999999;
  background-color: #f0f0f0;
  cursor: pointer;
}
.conditional_item .conditional_item_title {
  color: #999999;
  font-size: 21px;
  margin: 0;
  padding: 0;
  display: block;
}
.conditional_item.selected {
  background-color: #999999;
}
.conditional_item.selected .conditional_item_title {
  color: white;
}
.conditional_item:hover {
  text-decoration: none;
}

.section_complete_title {
  color: #7cd322;
  text-align: center;
}

.checklist_page_item {
  display: block;
  position: relative;
  margin-bottom: 24px;
}
.checklist_page_item .check_box_link {
  display: block;
  position: relative;
  color: black;
  padding-left: 30px;
}
.checklist_page_item .check_box_link .check_box_box {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0px;
  border: 2px solid #4a4a4a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.checklist_page_item .check_box_link .task_title {
  display: inline;
  font-size: 20px;
  color: #444444;
}
.checklist_page_item .check_box_link:hover {
  text-decoration: none;
}
.checklist_page_item .check_box_link.ordered {
  padding-left: 0;
}
.checklist_page_item .check_box_link.ordered .check_box_box {
  height: 15px;
  width: 15px;
  left: 12px;
  top: 0px;
}
.checklist_page_item .check_box_link.ordered .task_title {
  display: block;
}
.checklist_page_item .check_box_link.ordered .ordered_check_number {
  display: inline-block;
  font-size: 36px;
  line-height: 1;
  background: grey;
  height: 42px;
  width: 42px;
  text-align: center;
  border-radius: 100%;
  padding-top: 3px;
  color: white;
}
.checklist_page_item .item_external_link {
  display: inline-block;
  margin-left: 30px;
  color: #3AACE9;
  font-size: 16px;
}
.checklist_page_item.isComplete .check_box_box {
  border-color: #7cd322;
  background-color: #7cd322;
}
.checklist_page_item.isComplete .task_title,
.checklist_page_item.isComplete .item_external_link {
  color: #7cd322;
}
.checklist_page_item.ordered-check {
  padding: 12px 0;
  border: 1px solid #999999;
  text-align: center;
}
.checklist_page_item.ordered-check .item_external_link {
  margin-left: 0;
}
.checklist_page_item.isComplete.ordered-check {
  border-color: #7cd322;
}
.checklist_page_item.isComplete.ordered-check .ordered_check_number {
  background-color: #7cd322;
}

.completed_items_title {
  color: white;
  background-color: #7cd322;
  padding: 8px 0 8px 8px;
}

#page_sidebar_section .sidebar_header {
  color: #999999;
  font-size: 18px;
  line-height: 1;
  margin: 6px 0 24px;
}
#page_sidebar_section .sidebar_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page_sidebar_section .sidebar_list .sidebar_list_item {
  display: block;
  position: relative;
  color: #444444;
}
#page_sidebar_section .sidebar_list .sidebar_list_item.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 24px 0 0 0;
}
#page_sidebar_section .sidebar_list .sidebar_list_item.item {
  padding-left: 24px;
  margin: 6px 0;
}
#page_sidebar_section .sidebar_list .sidebar_list_item:first-child {
  margin-top: 0;
}
#page_sidebar_section .sidebar_list .sidebar_list_item .sidebar_icon {
  position: absolute;
  left: 3px;
  top: 4px;
  font-size: 14px;
}
#page_sidebar_section::before {
  content: '';
  position: absolute;
  top: -6px;
  bottom: -30px;
  left: -21px;
  border-right: 1px solid #cccccc;
}
@media (max-width: 1199px) {
  #page_sidebar_section::before {
    left: -6px;
  }
}
@media (max-width: 991px) {
  #page_sidebar_section::before {
    left: 0;
    right: 0;
    top: -24px;
    bottom: auto;
    border-right: none;
    border-top: 1px solid #cccccc;
  }
}
@media (max-width: 991px) {
  #page_sidebar_section {
    margin-top: 48px;
  }
}

/*# sourceMappingURL=styles.css.map */
