body {
  background-color: white;
}
// colors
$lightGrey : #f0f0f0;
$darkGrey : #999999;
$darkestGrey: #4a4a4a;
$green : #7cd322;

#Header {
  background-color: $darkGrey;
  text-align: center;
  color: white;

  .headerContainer {
    padding: 18px 0;
  }
}

#TopBar {
  background-color: $lightGrey;
  padding: 12px 0;

  .logoLink {
    max-height: 36px;
    display: block;
    text-align: left;
    
    img {
      height: 100%;
    }
  }
}

#Content {
  padding-top: 24px;
}


.home_page_callout {
  text-align: center;
  margin: 0 0 24px 0; padding: 0;
  display: block;
}

#home_page_panel_list {
  list-style: none;
  padding: 0; margin: 0;

  li {
    margin-bottom: 32px;
  }
}

.panel_link {
  display: block;
  position: relative;
  border: 1px solid black;

  &:hover {
    text-decoration: none;
  }

.checklist_page_link_panel {
  display: block;
  padding: 24px 0;

    .panel_title {
      display: block;
      position: relative;
      text-align: center;
      font-size: 18px;
      color: black;
      margin: 0 0 18px 0; padding: 0;
      line-height: 1;
    }

    .panel_progress {
      display: block;
      text-align: center;
      line-height: 0;

      .panel_progress_box {
        display: inline-block;
        line-height: 0;
        height: 10px; width: 10px;
        border-radius: 10px;
        border: 1px solid black;

        &.isComplete {
          border-color: $green;
          background-color: $green;
        }
      }
    }
  }
}

.checklistUL {
  margin: 0;
  padding: 0;
}
#page_conditional_section {

}

.conditional_item {
  display: block;
  position: relative;
  padding: 12px 0 12px 12px; margin: 6px 0 6px;
  border: 1px solid $darkGrey;
  background-color: $lightGrey;
  cursor: pointer;

  .conditional_item_title {
    color: $darkGrey;
    font-size: 21px;
    margin: 0; padding: 0;
    display: block;
  }

  &.selected {
    background-color: $darkGrey;

    .conditional_item_title {
      color: white;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.section_complete_title {
  color: $green;
  text-align: center;
}

#page_checklist_containers {
  
  
}

.checklist_page_item {
  display: block;
  position: relative;
  margin-bottom: 18px;
  
  .check_box_link {
    display: block;
    position: relative;
    color: black;
    padding-left: 30px;
    
    .check_box_box {
      position: absolute;
      height: 20px; width: 20px;
      left: 0; top: 0px;
      border: 2px solid $darkestGrey;
      background-color: white;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .task_title {
      display: inline;
    }
    
    &:hover {
      text-decoration: none;
    }

    &.ordered {
      padding-left: 0;

      .check_box_box {
        height: 15px; width: 15px;
        left: 12px; top: 0px;
      }
      .task_title {
        display: block;
      }
      .ordered_check_number {
        display: inline-block;
        font-size: 36px;
        line-height: 1;
        background: grey;
        height: 42px;
        width: 42px;
        text-align: center;
        border-radius: 100%;
        padding-top: 3px;
        color: white;
      }
    }
  }



  .item_external_link {
    display: inline-block;
    margin-left: 30px;
  }

  &.isComplete {
    .check_box_box {
      border-color: $green;
      background-color: $green;
    }

    .task_title,
    .item_external_link {
      color: $green;
    }
  }

  &.ordered-check {
    padding: 12px 0;
    border: 1px solid $darkGrey;
    text-align: center;

    .item_external_link {
      margin-left: 0;
    }
  }

  &.isComplete.ordered-check {
    border-color: $green;

    .ordered_check_number {
      background-color: $green;
    }
  }

  &.delight {

    .task_title,
    .item_external_link,
    .check_box_box {
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition:  all .5s;
      transition-timing-function: ease-out;
    }

    .task_title,
    .item_external_link {
      color: $green;
    }
    .check_box_box {
      border-color: $green;
      background-color: $green;
    }
  }
  &.delight.isComplete {

    .task_title {
      color: black;
    }
    .item_external_link {
      color: #337ab7;
    }
    .check_box_box {
      border-color: $darkestGrey;
      background-color: white;
    }
  }
}

.completed_items_title {
  color: white;
  background-color: $green;
  padding: 8px 0 8px 8px;
}


#page_sidebar_section {
  .sidebar_header {
    color: $darkGrey;
  }

  .sidebar_list {
    margin: 0; padding: 0;
    list-style: none;

    .sidebar_list_item {
      display: block;

      &.title {
        text-transform: uppercase;
        font-weight: bold;
        margin: 24px 0 0 0;
      }
      &.item {
        font-size: 12px;
        padding-left: 30px;
        margin: 6px 0;
      }
    }
  }
}

