<html>
<head>
    <title>Enter the Labyrinth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>
<body class="checklist">
<div id="AppEl"></div>

<!-- Root Template -->
<script type="text/html" id="AppTemplate" class="hide">
    <nav id="Nav"></nav>
    <header id="Header" >
        <div id="TopBar">
            <div class="topBarContainer container">
                <a class="logoLink" href="/">
                    <img id="Logo" src="/images/sitewideLogo.jpg">
                </a>
            </div>
        </div>
        <div class="headerContainer container">
            <h2><%= title %></h2>
            <p id="PageDescEl" class="col-md-6 col-md-offset-3"><%= blurb %></p>
        </div>
    </header>
    <main id="Content" class="container">
        <!-- Checklist Page Link Panels Render Here -->
    </main>
</script>

<!-- Checklist Page Checklist Container -->
<script type="text/html" id="ChecklistPageContainer" class="hide">

    <% if (!conditionals) { %>

    <% } else { %>
        <section id="page_conditional_section"  class="col-md-5 col-md-offset-1">

        </section>
    <% } %>

    <!-- CHECKLIST PANEL -->
    <section id="page_checklist_containers" class="col-md-5<%= (!conditionals ? ' col-md-offset-1' : '' )%>">
        <% if (checklist_title) { %>
            <h3 class="checklist_title"><%= checklist_title %></h3>
        <% } else if (conditionals) { %>
            <% _.each(conditionals, function (cond) { %>
            <h3  class="checklist_title <%= cond.slug %><%= (cond.state ? '' :  ' hide') %>"><%= cond.checklist_title %></h3>
            <% }); %>
        <% } %>

        <div id="checklistContainer">
            <ul class="checklistUL"></ul>
        </div>


        <div id="completedItems">
            <h5 class="hide completed_items_title">Completed</h5>
            <ul class="checklistUL"></ul>
        </div>

        <div id="notRelevantItems">
            <!--<h3 class="checklistPageSectionHeader">Dismissed</h3>-->
            <ul class="checklistUL"></ul>
        </div>
    </section>

    <!-- SIDEBAR PANEL -->
    <% if (sidebar_panel !== {}) { %>
    <section id="page_sidebar_section" class="col-md-5">
        <% if (sidebar_panel.panel_title !== '') { %>
        <h4 class="sidebar_header"><%= sidebar_panel.panel_title %></h4>
        <% } %>

        <ul class="sidebar_list">
            <% _.each(sidebar_panel.items, function (item) { %>
            <li class="sidebar_list_item  <%= item.type %>">
                <% if (item.icon !== '') { %>
                <span class="sidebar_item_icon"></span>
                <% } %>
                <div class="sidebar_item"><%= item.text %></div>
            </li>
            <% }); %>
        </ul>
    </section>
    <% } %>

</script>

<script type="text/html" id="ChecklistPageLinkPanel"></script>

<!-- Checklist Page Conditional Template -->
<script type="text/html" id="ChecklistPageConditionalTemplate">
    <% _.each(conditionals, function (cond) { %>
    <a class="conditional_item<%= (cond.state ? ' selected' : '' ) %>" data-cond-slug="<%= cond.slug %>">
        <h2 class="conditional_item_title"><%= cond.text %></h2>
    </a>
    <% }); %>
</script>

<!-- Checklist Page Checklist Item -->
<script type="text/html" id="ChecklistPageItems">
    <% _.each(items, function (item, i) { %>

    <li class="checklist_page_item <%= item.type %><%= (item.completed ? ' isComplete' : '') %><%= (item.isRelevant ? '' : ' notRelevant') %>" data-title="<%= item.title %>">

        <% if (item.type === 'check') { %>
        <a href="#" class="check_box_link">
            <span class="check_box_box"></span>
            <h4 class="task_title"><%= item.title %></h4>
        </a>

        <a class="item_external_link" href="<%= item.externalLink %>" target="_blank"><%= item.linkText %></a>
        <span class="doesNotApplyBtn"></span>

        <% } else if (item.type === 'html') { %>
            <%= item.html %>

        <% } else if (item.type === 'ordered-check') { %>
        <a href="#" class="check_box_link ordered">
            <span class="check_box_box"></span>
            <span class="ordered_check_number"><%= item.orderedIndex %></span>
            <h4 class="task_title"><%= item.title %></h4>
        </a>
        <a class="item_external_link" href="<%= item.externalLink %>" target="_blank"><%= item.linkText %></a>

        <% } else { %>
        <div class="sectionHeader"><%= item.title %></div>
        <% } %>

    </li>
    <% }); %>
</script>

<!-- Checklist Page Checklist Item -->
<script type="text/html" id="SidebarItems">
    <% _.each(items, function (item) { %>
    <li class="sidebar_list_item  <%= item.type %>">
        <% if (item.icon !== '') { %>
        <span class="sidebar_item_icon"></span>
        <% } %>
        <div class="sidebar_item"><%= item.text %></div>
    </li>
    <% }); %>
</script>



<script src="/scripts/jquery-3.1.1.min.js"></script>
<script src="/scripts/underscore-min.js"></script>
<script src="/scripts/backbone-min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>