<html>
<head>
    <title>Discover the Labyrinth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>
<body class="home">
    <div id="AppEl"></div>

    <!-- Root Template -->
    <script type="text/html" id="AppTemplate" class="hide">
        <nav id="Nav"></nav>
        <header id="Header" >
            <div id="TopBar">
                <div class="topBarContainer container">
                    <a class="logoLink col-md-6" href="/">
                    <img id="Logo" src="/images/sitewideLogo.jpg">
                    </a>
                    <div class="col-md-6 profile_container">
                        <p>Hi John! <a>Sign Out</a></p>
                    </div>
                </div>
            </div>
            <div class="headerContainer container">
                <h2><%= title %></h2>
                <p id="PageDescEl" class="page_description"><%= blurb %></p>
            </div>
        </header>
        <main id="Content" class="container">
            <!-- Checklist Page Link Panels Render Here -->
        </main>
        <div class="col-md-12 profile_container footer_container">
            <p>Hi John! <a>Sign Out</a></p>
        </div>
    </script>

    <!-- Home Page Panel Template-->
    <script type="text/html" id="ChecklistPageLinkPanel" class="hide">
        <% if ( slug === 'other' ) { %>
        <a class="panel_link" href="/<%= slug %>">
        <% } else { %>
        <a class="panel_link" href="/list/<%= slug %>">
        <% } %>

            <div class="checklist_page_link_panel">

                <h3 class="panel_title"><%= title %></h3>
                <div class="panel_progress">
                <% _.each(items, function(item){ %>

                    <div class="panel_progress_box<%= (item.completed ? ' isComplete' : '') %><%= (item.condition && !conditionals[item.condition].state ? ' hide' : '') %>"></div>
                <% }); %>
                </div>

            </div>
        </a>
    </script>

    <script type="text/html" id="ChecklistPageContainer" class="hide"></script>
    <script type="text/html" id="ChecklistPageItems"></script>
    <script type="text/html" id="ChecklistPageConditionalTemplate"></script>
    
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/underscore-min.js"></script>
    <script src="/scripts/backbone-min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>