<html>
<head>
    <title>Enter the Labyrinth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>
<body class="other">
<div id="AppEl">
    <header id="Header" >
        <div id="TopBar">
            <div class="topBarContainer container">
                <a class="logoLink" href="/">
                    <img id="Logo" src="/images/sitewideLogo.jpg">
                </a>
            </div>
        </div>
        <div class="headerContainer container">
            <h2>Other Services &amp; Resources</h2>
            <p id="PageDescEl" class="col-md-6 col-md-offset-3">The University of Washington has a lot of services you can take advantage of! Below are some resources you might find useful.</p>
        </div>
    </header>
    <main id="Content" class="container">
        <h3 class="checklist_title">Additional Resources</h3>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </main>
</div>
</body>
</html>