<html>
<head>
    <title>Enter the Labyrinth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>
<body class="checklist">
<div id="AppEl"></div>

<!-- Root Template -->
<script type="text/html" id="AppTemplate" class="hide">
    <nav id="Nav"></nav>
    <header id="Header" class="container">
        <a href="/">
            <img id="Logo" src="">
        </a>
        <h2>Husky Starter Kit</h2>
        <p id="PageDescEl"><%= blurb %></p>
    </header>
    <main id="Content" class="container">
        <!-- Checklist Page Link Panels Render Here -->
    </main>
</script>

<!-- Checklist Page Checklist Container -->
<script type="text/html" id="ChecklistPageContainer" class="hide">
    <section class="checklistContainer">
        <h3 class="checklistPageSectionHeader"></h3>
    </section>
    <section class="completedItems">
        <h3 class="checklistPageSectionHeader"></h3>
    </section>
    <section class="notRelevantItems">
        <h3 class="checklistPageSectionHeader"></h3>
    </section>
</script>

<script type="text/html" id="ChecklistPageLinkPanel"></script>

<!-- Checklist Page Checklist Item -->
<script type="text/html" id="ChecklistPageItem">
    <div class="checklistPageItem <%= type =><%= (completed ? ' isComplete' : '') %><%= (isRelevant ? '' : ' notRelevant') %>">

        <% if (type === 'check') { %>
        <div class="checkBox">
            <h4 class="taskTitle"><%= title =></h4>
        </div>
        <a href="" target="_blank"></a>
        <span class="doesNotApplyBtn"></span>
        <% } else { %>
        <div class="sectionHeader"><%= title %></div>
        <% } %>

    </div>
</script>


<script type="text/javascript">
    window.dLab = window.dLab || {};
    window.dLab.viewModel = window.dLab.viewModel || {
                nav : {
                    items: [
                        {
                            title: 'Home',
                            url: '/'
                        },{
                            title: 'Profile',
                            url: '/#'
                        },{
                            title: 'Help',
                            url: '/#'
                        },{
                            title: 'Log Out',
                            url: '/#'
                        }
                    ]
                },
                home : {
                    blurb: 'site level summary / blurb can go here',
                    landingIMG : {
                        title: 'img title',
                        alt: 'img alt',
                        src: 'img src'
                    }
                },
                checklistPages : [
                    {
                        title : 'Test 1',
                        slug : 'test1',
                        blurb: 'this is a blurb for test 1',
                        items : [
                            {
                                completed: true,
                                isRelevant : true,
                                title : 'Test Item 1',
                                type : 'check',
                                linkText : 'This is a link',
                                externalLink : 'http://www.google.com'
                            },{
                                completed: false,
                                isRelevant : true,
                                title : 'Test Item 2',
                                type : 'check',
                                linkText : 'This is a link',
                                externalLink : 'http://www.google.com'
                            },{
                                completed: false,
                                isRelevant : true,
                                title : 'Test Item 3',
                                type : 'check',
                                linkText : 'This is a link',
                                externalLink : 'http://www.google.com'
                            }
                        ]
                    },{
                        title : 'Test 2',
                        slug : 'test2',
                        blurb: 'this is a blurb for test 2',
                        items : [
                            {
                                completed: false,
                                isRelevant : true,
                                title : 'Test Item 1',
                                type : 'check',
                                linkText : 'This is a link',
                                externalLink : 'http://www.google.com'
                            },{
                                completed: false,
                                isRelevant : true,
                                title : 'Test Item 2',
                                type : 'check',
                                linkText : 'This is a link',
                                externalLink : 'http://www.google.com'
                            },{
                                completed: false,
                                isRelevant : true,
                                title : 'Test Item 3',
                                type : 'check',
                                linkText : 'This is a link',
                                externalLink : 'http://www.google.com'
                            }
                        ]
                    }
                ]
            };
</script>


<script src="/scripts/jquery-3.1.1.min.js"></script>
<script src="/scripts/underscore-min.js"></script>
<script src="/scripts/backbone-min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>